{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Connexion{% endblock %}

{% block main %}
<form method="post">
    {% if erreur %}
        <div class="alert-danger">{{ erreur.messageKey|trans(erreur.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label for="inputPseudo">Identifiant :</label>
    <input type="text" value="{{ dernier_identifiant }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>
    <br>
    <label for="inputPassword">Mot de passe :</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <br>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
    <br>


    <button class="button" type="submit">
        Connexion
    </button>
</form>
{% endblock %}
