 security:

    # https://symfony.com/doc/current/security/experimental_authenticators.html
    enable_authenticator_manager: true
    # https://symfony.com/doc/current/security.html#c-hashing-passwords
    password_hashers:
        # Appel de la classe contenant des identifiants
        App\Entity\Participant:
            # Utilisez un hachage de mot de passe natif, qui sélectionne automatiquement
            # le meilleur algorithme de hachage possible (à partir de Symfony 5.3, c'est "bcrypt)
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\Participant
                property: pseudo
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator: App\Security\LoginFormAuthenticator
            logout:
                path: app_logout
            
                # Où rediriger la déconnection
                target: connexion

            # Activer differentes façon de s'authentifier (lien ci dessous):
            # https://symfony.com/doc/current/security.html#firewalls-authentication

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    # Un moyen facile de co,trôler l'accès à de grandes sections de votre site
    # Note: Seul le *premier* contrôle d'accès correspondant sera utilisé
    access_control:
    # - { path: ^/admin, roles: ROLE_ADMIN }
    # - { path: ^/profile, roles: ROLE_USER }
