body
{
    background-color: #ffffff;
}
.box {
    box-shadow : 0 0.5em 1em -0.125em #00947e, 0 0px 0 1px #00947e;
}
img {
    margin-bottom: -10px;
}
.flash {
    padding: 20px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color:#FFFFFF;
}

.mb-3 {
    background-color: yellowgreen;
}

.alert-danger {
    background-color: #B0413E;
}


.fixed_header{
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;

}

.fixed_header tbody{
    display:block;
    width: 1220px;
    overflow: auto;
    height: 400px;

}

.fixed_header thead tr {
    display: block;
    /*border: 1px solid black;*/
}

.fixed_header thead {
    background-color: #ffffff;
}

.fixed_header th, .fixed_header td {
    padding: 5px;
    text-align: left;
    width: 200px;
    border: 1px solid black;
}

.button {
    background-color: #c1c4c1;
    color: black;
    cursor: pointer;
}
.button:hover {
    border: 2px solid #008CBA;
    color: #000000;
}

h1{
    font-weight:bold;
    font-size: large;
}

/*.button2 {*/
/*    background: none!important;*/
/*    border: none;*/
/*    padding: 0!important;*/
/*    !*optional*!*/
/*    font-family: arial, sans-serif;*/
/*    !*input has OS specific font-family*!*/
/*    color: #069;*/
/*    text-decoration: underline;*/
/*    cursor: pointer;*/
/*}*/