body
{
    background-color: #fff3cd;
}
.box {
    box-shadow : 0 0.5em 1em -0.125em #00947e, 0 0px 0 1px #00947e;
}
img {
    margin-bottom: -10px;
}
.flash {
    padding: 20px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color:#FFFFFF;
}

.mb-3 {
    background-color: yellowgreen;
}

.alert-danger {
    background-color: #B0413E;
}