body
{
    background-color: #ffffff;
}
.box {
    box-shadow : 0 0.5em 1em -0.125em #00947e, 0 0px 0 1px #00947e;
}
img {
    margin-bottom: -10px;
}
.flash {
    padding: 20px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color:#FFFFFF;
}

.mb-3 {
    background-color: yellowgreen;
}

.alert-danger {
    background-color: #B0413E;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
.button {
    background-color: #c1c4c1;
    color: black;
    cursor: pointer;
}
.button:hover {
    border: 2px solid #008CBA;
    color: #000000;
}

h1{
    font-weight:bold;
    font-size: large;
}