{% extends 'base.html.twig' %}

{% block titre %} Sortir | Mon Profil {% endblock %}

{% block main %}
    <h2>Mon Profil</h2>

    {{ form_start(profilForm) }}
    {{ form_widget(profilForm) }}
    <button type="submit">Modifier</button>
    {{ form_end(profilForm) }}



{% endblock %}