{% extends 'base.html.twig' %}

{% block title %}  {{ parent() }} | Connexion {% endblock %}

{% block body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
        <label for="inputIdentifiant">Identifiant : </label>
        <input type="text" value="{{ last_username }}" name="identifiant" id="inputIdentifiant" required autofocus>
        <label for="inputPassword">Mot de passe : </label>
        <input type="password" name="mot_de_passe" id="inputPassword" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <div class="checkbox">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>


        <button type="submit">
            Se connecter
        </button>
    </form>
{% endblock %}