<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titre %}Sortir{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/favicon.png">
</head>
<body>

<div class="container has-text-centered">
    <header>
        
        {% include ('inc/nav.html.twig')%}
        <section>
            <div class="container has-text-centered">
                <img src="img/image.jpg" class="imgTop" alt="image principale de site">
            </div>

        </section>
        <hr>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        <hr>
        © {{ "now"|date("Y") }} Sortir
        <p>By Guillaume, Jolan et Mélody </p>
    </footer>
</div>
</body>
</html>
