<nav>
    <ul>
        <li><a href="{{ path('accueil') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('mon_profil') }}" title="Mon Profil">Mon Profil</a></li>
        <li><a href="#" title="#">Se Déconnecter</a></li>
    </ul>
</nav>